.container{
    padding: 3px;
    height: 98%;
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(24, 193, 199);
    border-radius: 5px;
  }
  .logonav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(76, 129, 113);
    border-radius: 5px
  }
  .stopka{
    list-style-type: none;
    margin-top: 7%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 50, 51);
    border-radius: 5px;
  }
  .stopka p{
    text-align: center;
    text-decoration: none; 
  }
    li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #222;
  }
  .tekst p{
        font-family: Impact, fantasy;
        font-size: 3vh;
        margin-top: -15%;
        text-align: center;
  }
  .tekst{
      border: dashed;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3%;
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 10px;
      padding-top: 10%;
      padding-bottom: 5%;
  }
.print{
 display: flex;
 justify-content: flex-end;
 margin-top: 10%;
 margin-right: 5%;
}
