<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Tu wpisz opis zawartości strony">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="style.css">
	<title>HRx</title>
</head>

<body>
<div class= container>
	<div class = logo>
		<ul class = logonav>
			<li><a href="">Home</a></li>
		</ul>
	</div>
	<div class = nav>
		<ul>
			<li><a th:href="@{/}">Główna</a></li>
			<li><a th:href="@{/show}">Lista pracowników</a></li>
			<li><a th:href="@{/fill}">Dodaj pracownika</a></li>
			<li><a th:href="@{/statistic}">Statystyki</a></li>
		  </ul>
	</div>
<div class = tekst><p>Witaj w aplikacji HR,<br> możesz teraz zatrudniać <br> i zwalniać swoich pracowników w kilku krokach.<br> Z nami zarządzanie firmą jest prostrze!</p></div>

	<div class = print>
		<img th:src="@{/job.png}" width="150" height="150">
	</div>
<div>
	<ul class = stopka>
		<p> Autor:  Piotr Konicki (konickipiotr@gmail.com) wszelkie prawa zastrzeżone</p>
		
	</ul>
</p></div>

</div>



</body>
</html>